<div class="contenedor-form" id="paso1-pasajero">
  <section>
    <div class="inputs">
      <label for="">Contraseña *</label>
      <input  [(ngModel)]="contrasena1" placeholder="Ingrese contraseña" type="password">
      <input  [(ngModel)]="contrasena2" placeholder="Repita contraseña" type="password">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <span (click)="goLogin()" class="span-link">Inicia sesión</span>
      <button (click)="crearCuenta()" class="boton-principal">Siguiente</button>
    </div>
  </section>

</div>