<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="contenedor">
    <div class="contenido-menu">
      <ion-list class="menu-item">
        <ion-item href="('/perfil-chofer')">Mi perfil</ion-item>
        <ion-item href="('/misviajes-chofer')">Mis viajes</ion-item>
        <ion-item>Cerrar sesión</ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!--hacer funcion para cambiar el titulo dependiendo de la página-->  
      <ion-title class="titulo">Bienvenido</ion-title>
      <ion-buttons slot="start" >
        <ion-button (click)="navVolver()">
          <ion-icon class="ion--arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">  </ion-content>
</div>
<div class="ion-searchbar">
  <ion-searchbar style="margin-top: 70px;" animated="true" placeholder="Ingresa una direccion"></ion-searchbar>
</div>