<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="contenedor">
    <div class="contenido-menu">
      <ion-list class="menu-item">
       <!--  esto tiene que cambiar dependiento del perfil  -->
        <ion-item href="/perfil-chofer">Mi perfil</ion-item>
        <ion-item href="/misviajes-chofer">Mis viajes</ion-item>
        <ion-item (click)="logout()">Cerrar sesión</ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>
<div id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>
<!--   <ion-content class="ion-padding">  
    <ion-list>
      <ion-item>

      </ion-item>
    </ion-list>
  </ion-content> -->

<!-- <div class="ion-searchbar">
  <ion-searchbar style="margin-top: 70px;" animated="true" placeholder="Ingresa una direccion"></ion-searchbar>
</div> -->