<app-menu></app-menu>
  
    <div class="contenido">
      <ion-list>
        <ion-item>
          <ion-input label="Dirección Destino" labelPlacement="stacked" placeholder="Enter text"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    
    
  <!-- <div class="contenido">
    <ion-list>
      
      <ion-item></ion-item>
      <ion-item></ion-item>
      <ion-item></ion-item>
    </ion-list>
    <label>Dirección Destino:</label>
    <ion-input id="direccion" label="Dirección destino:" placeholder=""></ion-input>
    <ion-input label="" placeholder=""></ion-input>
    <ion-input label="" placeholder=""></ion-input>
  </div> -->
<app-toolbar></app-toolbar>