<app-menu></app-menu>

<ion-content  [fullscreen]="true">
  <app-header></app-header>  
  <!--Programar desde aqui: -->
  
    <section>
      <div class="inputs">
        <label for="">Dirección destino<small *ngIf="errDestino===false" class="errores"> Ingresa direccion valida</small></label>
        <input [(ngModel)]="viaje.destino" (blur)="valDestino()" [ngClass]="{'errores': errDestino===false}" placeholder="Ingrese dirección" type="text">
      </div>
      <div class="inputs">
        <label for="">Monto por persona<small *ngIf="errMonto===false" class="errores"> Ingresa monto valido</small></label>
        <input [(ngModel)]="viaje.valor" (blur)="valMonto()" [ngClass]="{'errores': errMonto===false}" placeholder="$" type="number">
      </div>
      <div class="inputs">
        <label for="">Punto de encuentro<small *ngIf="errPuntoEncuentro===false" class="errores"> Ingresa punto de encuentro valido</small></label>
        <input [(ngModel)]="viaje.punto_encuentro" (blur)="valPuntoEncuentro()" [ngClass]="{'errores': errPuntoEncuentro===false}" placeholder="Ingrese punto de encuentro" type="text">
      </div>
      <div class="inputs">
        <label for="">N° Asientos disponibles<small *ngIf="errNumPasajeros===false" class="errores"> Ingresa asientos disponibles valido</small></label>
        <input [(ngModel)]="viaje.numPasajeros" (blur)="valNumPasajeros()" [ngClass]="{'errores': errNumPasajeros===false}" placeholder="Ingrese cantidad asientos" type="number">
      </div>
      <div class="inputs">
        <label for="">Hora de inicio viaje<small *ngIf="errHoraInicio===false" class="errores"> Ingresa hora de inicio valido</small></label>
        <input [(ngModel)]="viaje.hora_inicio" (blur)="valHoraInicio()" [ngClass]="{'errores': errHoraInicio===false}" placeholder="" type="time">
      </div>
      <div class="contenedor-horizontal">
        <button (click)="validador()" class="boton-principal">Continuar</button>
      </div>
      <div *ngIf="cargandoFlag" class="spinner"><mat-spinner style="top: 12rem;"></mat-spinner></div>
    </section>
</ion-content>

<app-toolbar></app-toolbar>