<app-menu></app-menu>

<ion-content  [fullscreen]="true">
  <app-header></app-header>  
  <!--Programar desde aqui: -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="position: relative;">
          <ion-searchbar debounce=500 (ionInput)="busqueda($event)"  [value]="dire_seleccion" placeholder="Ingrese dirección"></ion-searchbar>
          <div style="position: absolute; width: 100%; z-index: 999;">
            <ion-list lines="none">
              <ion-item button *ngFor="let direccion of direcciones" (click)="seleccionar(direccion)">
                {{direccion.nombre}}
              </ion-item>
              <div style="text-align: center;">
                <ion-button fill="clear">Crear viaje</ion-button>
                <ion-button fill="clear" (click)="borrarDireccion()">Borrar</ion-button>
              </div>
              
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <div id="mapa-box" style="width: 100%; height: 400px"></div>
<!--   <div style="display: flex; flex-direction: column; height: 100vh;">
    
    <ion-card style="flex-shrink: 0; margin: 20px; border-radius: 5px; ">
      <ion-card-header>
        <ion-card-title>Destino</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    
      
    </ion-card>
  </div>
   -->
  
</ion-content>

<app-toolbar></app-toolbar>