<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <article class="perf-superior">
    <ion-avatar><img alt="Foto perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" /></ion-avatar>
    <section *ngIf="!modFlag" class="nombre-superior">
      <h4>{{chofer.nombre}}</h4>
      
        <svg (click)="modificando()" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
          <path fill="black"
          d="M21 12a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1m-15 .76V17a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .71-.29l6.92-6.93L21.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83l-6.94 6.93a1 1 0 0 0-.29.71m10.76-8.35l2.83 2.83l-1.42 1.42l-2.83-2.83ZM8 13.17l5.93-5.93l2.83 2.83L10.83 16H8Z" />
        </svg>
      
    </section>
  </article>
  <article *ngIf="!modFlag" class="perf-inferior">
    <section class="superior">
      <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24">
        <path fill="#40C021"
          d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28" />
      </svg>
    </section>
    <section class="inferior">
      <h5>Sobre mi</h5>
      <p>Nombre: {{chofer.nombre + ' ' + chofer.apellido}}</p>
      <p>Genero: {{chofer.genero}}</p>
      <hr />
    </section>
    <section class="inferior">
      <div class="divVehiculo">
        <h5>Sobre mi vehículo</h5>
<!--         <svg (click)="modificandoVehi()" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
          <path fill="black"
          d="M21 12a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1m-15 .76V17a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .71-.29l6.92-6.93L21.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83l-6.94 6.93a1 1 0 0 0-.29.71m10.76-8.35l2.83 2.83l-1.42 1.42l-2.83-2.83ZM8 13.17l5.93-5.93l2.83 2.83L10.83 16H8Z" />
        </svg> -->
      </div>
      <p>Modelo : {{chofer.modelo}}</p>
      <p>Patente: {{chofer.patente}}</p>
      <hr />
    </section>
    <section class="inferior">
      <h5>Saquemos cuentas</h5>
      <p>Viajes totales: n°</p>
      <p>Ganancias este mes: n°</p>
      <p>Ganancias mes pasado: n°</p>
    </section>
  </article>
  <article *ngIf="modFlag" class="perf-inferior"> 
    <section class="superior"></section>  
    <section class="inferior">
      <h5>Modificando tu perfil</h5>
      <ion-input required label="Nombre"   label-placement="floating" fill="outline" placeholder="Nombre" [(ngModel)]="chofer.nombre" value="{{chofer.nombre}}"></ion-input>
      <ion-input required label="Apellido" label-placement="floating" fill="outline" placeholder="Apellido" [(ngModel)]="chofer.apellido" value="{{chofer.apellido}}"></ion-input>
      <ion-input disabled label="Rut" label-placement="floating" fill="outline" placeholder="Rut" [(ngModel)]="chofer.rut" value="{{chofer.rut}}"></ion-input>
      <ion-input disabled label="Correo"   label-placement="floating" fill="outline" placeholder="Correo"  [(ngModel)]="chofer.correoElectronico" value="{{chofer.correoElectronico}}"></ion-input>
<!--       <ion-input required label="Genero"   label-placement="floating" fill="outline" placeholder="Genero" [(ngModel)]="chofer.genero" value="{{chofer.genero}}"></ion-input> -->
      <ion-select [(ngModel)]="chofer.genero" label="Género" label-placement="floating" fill="outline">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Femenino">Femenino</ion-select-option>
        <ion-select-option value="Otro">Otro</ion-select-option>
      </ion-select>
      <div class="divButton">
        <ion-button (click)="cancelar()"color="medium" fill="outline">Cancelar</ion-button>
        <ion-button (click)="validar()" >Confirmar</ion-button>
      </div>
    </section>
  </article>
  <article *ngIf="modFlagVehi" class="perf-inferior"> 
    <section class="superior"></section>  
    <section class="inferior">
      <h5>Modificando tu perfil</h5>
      <ion-input required label="Modelo"  label-placement="floating" fill="outline" placeholder="Modelo" [(ngModel)]="chofer.modelo"></ion-input>
      <ion-input required label="Patente" label-placement="floating" fill="outline" placeholder="Patente" [(ngModel)]="chofer.patente"></ion-input>
      <div class="divButton">
        <ion-button (click)="cancelar()"color="medium" fill="outline">Cancelar</ion-button>
        <ion-button (click)="validarVehiculo()" >Confirmar</ion-button>
      </div>
    </section>
  </article>
  <div *ngIf="cargandoFlag" class="spinner">
    <mat-spinner style="top: 10rem"></mat-spinner>
  </div>

</ion-content>

<app-toolbar></app-toolbar>