.paginacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 1rem;
}

.inputs input{
    padding: 30px 0.5rem;
    color: black;
    border-radius: 5px;
    height: 45px;
    text-align: left;
    border: 1px solid grey;
}
.errores{
    color: #ff3333;
    border-color: #ff3333 !important;
}
.erroresSelect{
    border-color: #ff3333 !important;
}

.p-importante{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.contenedor-form-padre{
    padding: 0 1.8rem;
    justify-content: center;
}
.contenedor-horizontal {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 0.3rem;
    white-space: nowrap;
}
.contenedor-horizontal span, a {
    font-size: 15px;
}
.boton-principal{
    margin-bottom: 10px;
    padding: 0.875rem 0.875rem; 
    width: 130px;
    color: black;
    font-weight: bold;
    background-color: var(--ion-color-primary);
    border-radius: 5px;
}
select{
    border-radius: 10px;
    border-color: grey;
    height: 45px;
    text-align: left;
    color: grey;
    width: 217px;
    box-sizing: border-box;
}
select option {
    font-size: 30px; 
    padding: 20px; 
}
.span-link{
    color: #307FE3;
}

.spinner{
    background: rgba(0, 0, 0, 0.225);
    backdrop-filter: blur(1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;            /* Agrega esta línea */
    justify-content: center;  /* Centra horizontalmente */
    /* align-items: center;   */
}