
<hr>
<article style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap:19px ;">
  
  <svg (click)="goPaso1()" *ngIf="mostrarPaso == 1 || mostrarPaso == 2 || mostrarPaso == 3 || mostrarPaso == 4" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#FFB800" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>      
  
  <svg (click)="goPaso2()" *ngIf="mostrarPaso == 2 || mostrarPaso == 3 || mostrarPaso == 4" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#FFB800" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
  <svg *ngIf="mostrarPaso == 1" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#D9D9D9" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
  
  <svg (click)="goPaso3()" *ngIf="mostrarPaso == 3 || mostrarPaso == 4" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#FFB800" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
  <svg *ngIf="mostrarPaso == 1 || mostrarPaso == 2 " xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#D9D9D9" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
  
  <svg id="revisa1" *ngIf="mostrarPaso == 4" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#FFB800" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
  <svg id="revisa2" *ngIf="mostrarPaso != 4" xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24"><path fill="#D9D9D9" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
</article>

<div *ngIf="mostrarPaso == 1" class="" id="paso1-chofer">
  <section>
    <p class="p-importante">Datos personales</p>
    
    <div class="inputs">
      <!-- Aqui tengo el label small solo se activa si errNombre es true -->
      <label for="">Nombre * <small *ngIf="errNombre" class="errores">Ingrese nombre valido</small></label>
      <!-- Blur te llama a la funcion cuando se sale del input -->
      <!-- ngClass se utiliza cuando errNombre de true se aplica erroresm si da false no aplica nada c:  -->
      <input [(ngModel)]="usuario.nombre"  (blur)="vNombre()" [ngClass]="{'errores': errNombre}"   placeholder="Ingrese nombre" type="text">
    </div>

    <div class="inputs">
      <label for="">Apellido *  <small *ngIf="errApellido" class="errores">Ingrese apellido valido</small></label>
      <input [(ngModel)]="usuario.apellido" (blur)="vApellido()" [ngClass]="{'errores': errApellido}" placeholder="Ingrese apellido" type="text">
    </div>

    <div class="inputs">
      <label for="">Rut * <small *ngIf="errRut" class="errores">Ingrese rut valido, sin puntos ni guión</small></label>
      <input [(ngModel)]="usuario.rut" (blur)="vRut()" [ngClass]="{'errores': errRut}" placeholder="Ingrese rut (10100100k)" type="text">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <a [routerLink]="['/login']">Inicia sesión</a>
      <button (click)="validarPaso1()" class="boton-principal">Siguiente</button>
    </div>
  </section>
</div>

<div *ngIf="mostrarPaso == 2" class="" id="paso2-chofer">
  <section>
    <div class="inputs">
      <label for="">Género * <small *ngIf="errGenero" class="errores">Seleccione genero</small></label>
      <select [(ngModel)]="usuario.genero" (blur)="vGenero()" [ngClass]="{'erroresSelect': errGenero}" name="" id="" placeholder="seleccione">
        <option value="" disabled selected>Selecione género</option>
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
    <hr>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" [(ngModel)]="usuario.fecha_nac">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <hr>
    <div class="inputs">
      <label for="">Correo electronico * <small *ngIf="errCorreo" class="errores">Ingrese correo valido</small></label>
      <input [(ngModel)]="usuario.correoElectronico" (blur)="vCorreo()" [ngClass]="{'errores': errCorreo}" placeholder="Ingrese correo electronico" type="text" type="email">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <a [routerLink]="['/login']">Inicia sesión</a>
      <button (click)="validarPaso2()" class="boton-principal">Siguiente</button>
    </div>
  </section>
</div>

<div *ngIf="mostrarPaso == 3" class="" id="paso3-chofer">
  <section>
    <p class="p-importante">Sobre el vehículo</p>
    
    <div class="inputs">
      <label for="">Modelo * <small *ngIf="errModelo" class="errores">Ingrese un modelo de vehículo</small></label>
      <input [(ngModel)]="usuario.modelo" (blur)="vModelo()" [ngClass]="{'erroresSelect': errModelo}" placeholder="Ingrese modelo" type="text">
    </div>
    <div class="inputs">
      <label for="">Patente * <small *ngIf="errPatente" class="errores">Ingrese una patente valida</small></label>
      <input [(ngModel)]="usuario.patente" (blur)="vPatente()" [ngClass]="{'erroresSelect': errPatente}" placeholder="Ingrese patente" type="text">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <a [routerLink]="['/login']">Inicia sesión</a>
      <button (click)="validarPaso3()" class="boton-principal">Siguiente</button>
    </div>
  </section>
</div>

<div *ngIf="mostrarPaso == 4" class="" id="paso4-pasajero">
  <section>
    <div class="inputs">
      <label for="">Contraseña * <small *ngIf="errContrasena" class="errores">Ingrese su contraseña</small></label>
      <input [(ngModel)]="contrasena" [ngClass]="{'errores': errContrasena}" placeholder="Ingrese contraseña" type="password" type="password">
      <input [(ngModel)]="contrasena2"[ngClass]="{'errores': errContrasena}" placeholder="Ingrese contraseña" type="password" type="password">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <a [routerLink]="['/login']">Inicia sesión</a>
      <button (click)="validarFinal()" class="boton-principal">Crear Cuenta</button>
    </div>
  </section>
  
</div>
<div *ngIf="cargandoFlag" class="spinner"><mat-spinner style="top: 12rem;"></mat-spinner></div>