<!-- Este toolbar es para el perfil de pasajero -->

<ion-footer class="comp-footer">
    <div class="">
      <ion-toolbar class="toolbar">
        
        <ion-buttons slot="primary" class="custom-buttons">
          <!--<ion-back-button default-href="#"></ion-back-button>-->
    
          <!-- <ion-button>
            <ion-icon name="car"></ion-icon>
          </ion-button>
          -->
          <ion-button (click)="navPagina('/misviajes-pasajero')">
            <ion-icon class="bxs--car"></ion-icon>
          </ion-button>

          <ion-button (click)="navPagina('/qr-pasajero')">
            <ion-icon class="bx--qr"></ion-icon>
          </ion-button>
          
          <ion-button (click)="navPagina('/perfil-pasajero')">
            <ion-icon class="iconamoon--profile-fill"></ion-icon>
          </ion-button>
          
          <ion-button>
            <ion-icon slot="icon-only" class="ion--search"></ion-icon>
          </ion-button>
          
        </ion-buttons>
      </ion-toolbar>
    </div>
    
  </ion-footer>
  