<div class="contenedor-form" id="paso1-pasajero">
  <section>
    <div class="inputs">
      <label for="">Género *</label>
      <select name="" id="" placeholder="seleccione">
        <option value="" disabled selected>Selecione género</option>
        <option value="">Femenino</option>
        <option value="">Masculino</option>
        <option value="">Otro</option>

      </select>
    </div>
    <hr>

    <hr>
    <div class="inputs">
      <label for="">Correo electronico *</label>
      <input placeholder="Ingrese apellido" type="text">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <span (click)="goLogin()" class="span-link">Inicia sesión</span>
      <button (click)="validarPaso2()" class="boton-principal">Siguiente</button>
    </div>
  </section>

</div>