<div class="contenedor-form" id="paso1-pasajero">
  <section>
    <div class="inputs">
      <label for="">Género *</label>
      <select name="" id="" placeholder="seleccione">
        <option value="" disabled selected>Selecione género</option>
        <option value="">Femenino</option>
        <option value="">Masculino</option>
        <option value="">Otro</option>

      </select>
    </div>
    <hr>
    <div class="inputs">
      <label for="">Aqui va el data picker *</label>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <hr>
    <div class="inputs">
      <label for="">Correo electronico *</label>
      <input placeholder="Ingrese apellido" type="text">
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <span (click)="goLogin()" class="span-link">Inicia sesión</span>
      <button (click)="validarPaso2()" class="boton-principal">Siguiente</button>
    </div>
  </section>

</div>