<div class="contenedor-form" id="paso1-pasajero">
  <section>
    <p class="p-importante">Datos personales</p>

    <div class="inputs">
      <label for="">Nombre *</label>
      <ion-input
        placeholder="Ingrese nombre"
        [(ngModel)]="nombre"
      ></ion-input>
    </div>
    <div class="inputs">
      <label for="">Apellido *</label>
      <ion-input
        placeholder="Ingrese apellido"
        [(ngModel)]="apellido"
        ></ion-input>
    </div>
    <div class="inputs">
      <label for="">Rut *</label>
      <ion-input
        placeholder="Ingrese rut"
        [(ngModel)]="rut"
        ></ion-input>
    </div>
    <hr>
    <div class="contenedor-horizontal">
      <span>¿Ya tienes cuenta?</span>
      <span (click)="goLogin()" class="span-link">Inicia sesión</span>
      <button (click)="validarPaso1()" class="boton-principal">Siguiente</button>
    </div>
  </section>

</div>